# Copy this file to `.env` and set your real API key.
OPENTOPO_ELEVATION_API_KEY=replace_with_your_opentopography_key
OVERPASS_MAX_QUERY_AREA_SIZE=25_000_000_000
OVERPASS_REQUESTS_TIMEOUT=1000
OVERPASS_RATE_LIMIT=True
OVERPASS_URL='https://overpass-api.de/api'